body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
}
a {
  color: #00B7FF;
}
/*.delete {
  color: #e0301e;
}*/
.name {
  color: white;
}
/*.blur-grey {
  background: rgba(70, 70, 70, 0.5);
  padding-left: .5em;
  padding-right: .5em;
}*/
.background-image {
  position: fixed;
  top: 0;
  left: 0;

  /*display: block;*/
  background-image: url('/images/coffee_beans.jpeg');
  background-size: cover;
  height: 100vh;
  width: 100vw;

  /*-webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);*/
}
